/*
 * 后端主页 CSS
 */

#mainMenu {
	width:238px; height:102%; top:-1%; left:0; margin:0; padding:0; position:absolute;
}
#mainMenuSwitch {
	width:38px; height:68px; top:50%; right:-22px; margin-top:-38px; display:inline-block; position:absolute; line-height:68px; opacity:0.8;
}
#mainMenuSwitch > .MyIF {
	font-size:20px;
}
#mainMenuSwitch:hover > .MyIF {
	color:#42d4ff;
	text-shadow:0 0 1px;
	opacity:1;
}


footer {
	width:100%; height:28px; bottom:0; margin:0; padding:0 38px; box-sizing:border-box; position:fixed; z-index:99;
}