/*
 * 前端歌曲、歌单专辑、歌手主页、申请入驻歌手 CSS
 */

#song-main, #album-main, #singer-main, #joinSinger-main {
    width:900px; margin:25px 115px 0 auto; padding-bottom:70px; position:relative;
}

    /* 歌曲页面部分 */
        /* 歌曲页面 -- 歌曲信息及操作 */
#song-info {  width:92%; height:auto; padding:78px 38px 28px; position:relative; display:inline-block;  }
#song-info>div:first-child {  width:180px; height:180px; margin-top:38px; float:left; background:url(../../images/common/disk.png); background-size:100% 100%;  }
#song-info>div:first-child>img {  width:108px; height:108px; margin:36px 38px; border-radius:50%;  }
#song-info>div:first-child>span {  top:48px; left:-18px; position:relative; z-index:9;  }
#song-info>div:first-child>span>a {  margin-top:28px;  }
#song-info>div:last-child {  width:75%; float:right; position:relative;  font:normal normal normal 12.5px/16px Arial, 'Microsoft YaHei', '微软雅黑'; color:#DDD;  }
#song-info>div:last-child>h3 {  margin:-28px 0 18px; font-size:23px;  }
#song-info>div:last-child>.glassButton {  margin-right:72px; float:right;  }
#song-info .singerName {  margin:0 0 0 35px; font-size:14px;  }
#song-info .singerName>a {  margin-left:8px; color:#5DDDFF;  }
#song-lyric {  width:76%; height:330px; margin:8px 0; padding:48px 38px 68px 108px;  background:url(../../images/common/music-bg.jpg) no-repeat; background-size:100% 100%;  }
#lyricContent {  width:95%; height:100%; overflow-y:scroll; color:#888;  }
        /* 歌曲页面 -- 评论 */
#song-main>i {  margin:0 88px 2px; font-size:30px; font-weight:500;  }
#song-reply {  width:88%; margin:0 auto; padding:8px 18px; border-top:2px solid #22e8ff;  }
#song-replyPer>img {  width:40px; height:40px; margin:38px 3px; border-radius:4px;  }
#song-replyPer>div {  width:93%; display:inline-block;  }
#replyPerText {  width:95%; height:58px; margin:0 25px 0 18px; padding:8px 10px; resize:none; display:block; border:2px solid #2E2E2E; font:normal normal normal 14px/1.3em Arial, 'Microsoft YaHei', '微软雅黑'; color:#00CDFF; letter-spacing:3px;  }
#replyPerEmoji {  margin:0 28px 0 58px;  }
#song-replyPer>div>span {  top:55px; left:48%; position:relative; z-index:9; font-size:13px;  }
#song-wellReply, #song-newReply {  font-size:13px; color:#D6D6D6;  }
#song-wellReply>h4, #song-newReply>h4 {  margin:38px 28px 3px; font-size:17px; color:#70FF92;  }
#song-wellReply>.replyList, #song-newReply>.replyList {  width:95%; margin:0 auto 18px; padding:18px; border-top:1px solid #848484; border-bottom:1px solid #2E2E2E;  }
#song-wellReply>.replyList:hover, #song-newReply>.replyList:hover{  border:1px solid; border-image:-webkit-linear-gradient(#26c7ff, #3972ff)25; border-image:-o-linear-gradient(#26c7ff, #3972ff)25; border-image:-moz-linear-gradient(#26c7ff, #3972ff)25; border-image:linear-gradient(#26c7ff, #3972ff)25;  }
#song-wellReply>.replyList>img, #song-newReply>.replyList>img {  width:35px; height:35px; margin:0 13px 0 0; float:left; border-radius:4px;  }
#song-wellReply>.replyList a, #song-newReply>.replyList a {  color:#00BFE8;  }
#song-wellReply>.replyList a:hover, #song-newReply>.replyList a:hover {  color:#4AFFF6; text-decoration:underline;  }
#song-wellReply>.replyList>.replySource, #song-newReply>.replyList>.replySource {  width:89%; padding:13px; margin:8px 0 3px 52px; color:#929292; word-break:break-all; word-wrap:break-word;  }
#song-reply .replybar {  margin:13px 88px 0; color:#929292;  }
#song-reply .replybar>.replyStar {  margin-top:-5px; float:right;  }
#song-reply .replyOtherButton {  margin-left:28px; float:right; color:#929292!important;  }
#song-reply .replyOtherButton:hover {  color:#70ff92!important;  }


    /* 歌单专辑页面部分 */
        /* 歌单页面 -- 歌单信息 */
#album-info {  height:auto; padding:68px 38px 28px 58px; position:relative; float:left; font:normal normal normal 12.5px/16px Arial, 'Microsoft YaHei', '微软雅黑'; color:#BDBDBD;  }
#album-info>div:first-child {  width:180px; height:155px; float:left; background:url(../../images/common/disc.png); background-size:100% 100%;  }
#album-info>div:first-child>img {  width:131px; height:131px; margin:12px; float:left;  }
#album-info>div:last-child {  width:75%; float:right; position:relative;  }
#album-info>div:last-child>h3 {  margin:-28px 0 18px; font-size:28px; color:#DDD;  }
#album-info>div:last-child>img {  width:28px; height:28px; left:18px; position:absolute; border:none; border-radius:4px;  }
#album-info>div:last-child>p {  height:28px; margin:0 0 0 58px; line-height:30px; display:inline-block;  }
#album-info>div:last-child>a {  margin:8px 48px; float:right;  }
#album-info>div:last-child>dl {  margin:18px;  }
#album-info>div:last-child>dl>dt:first-child {  font-size:14px; color:#FFF;  }
#album-tag>dd {  margin:8px 8px 8px 50px; padding:3.5px 18px 3.5px 35px; position:relative;  }
#album-tag a {  color:#00CDFF;  }
#album-tag img {  width:38px; top:-8px; left:-12px; position:absolute;  }
#album-intro {  margin:3px 18px; text-indent:25px;  }
        /* 歌单页面 -- 歌曲列表 */
#album-songlist {  width:88%; margin:0 auto;  }
#album-songlist>span {  top:68px; left:55%; position:relative; z-index:9;  }
#album-songlist>span>a {  margin-right:28px;  }
#album-songlist .specialTable a:hover {  color:#70ff92; text-decoration:underline;  }
#album-songlist .specialTable td:last-child {  text-align:center;  }


    /* 歌手个人页面部分 */
#singer-main {  padding-bottom:8px;  }
#singer-main>div {  width:95%; padding:28px 23px; position:relative;  }
#singer-main>div>h2 {  margin-left:38px; font-weight:500;  }
#singer-img {  width:78%; height:326px; margin-top:8px; float:left; position:relative; border-radius:3px;  }
#singer-img>img {  width:95%; height:90%; top:5%; left:2.5%; position:absolute;  }
#singer-img>span {  right:100px; bottom:0; position:absolute; z-index:9; opacity:0.88;  }
#otherSinger {  width:20%; margin:8px 0; float:right; border-radius:3px;  }
#otherSinger>a {  width:88%; height:35px; margin:18px auto; display:block; font:normal normal normal 12.5px/34px Arial, 'Microsoft YaHei', '微软雅黑'; color:#00CDFF;  }
#otherSinger img {  width:28px; height:25px; margin:5px 2px 6px 1px; border-radius:2px;  }
#otherSinger p {  width:70%; height:35px; display:inline-block; overflow:hidden;  }
#otherSinger .otherSinger-title {  margin:0 10px 8px; padding:8px 15px; font-weight:500; border-bottom:1px solid #666;  }
#singer-main iframe {  width:100%; height:750px; margin-top:18px; padding:0; border:none;  }






    /* 申请入驻歌手页面部分 */

#step-title {  width:160px; height:40px; top:6px; left:40%; position:absolute; z-index:50; font:normal bold normal 20px/38px Arial, 'Microsoft YaHei', '微软雅黑'; color:#70ff92; text-align:center;  }
#joinSingerContent {  width:93%; height:480px; padding:56px 18px 8px 38px; color:#AAA;  }
.musichouse {  margin:18px 28px; font-size:16px; color:#CCC; text-align:right;  }
.banClick {  color:#9B9B9B;  cursor:not-allowed;  }
.allowClick {  color:#00CDFF;  cursor:pointer;  }
.nowActive {  color:#70ff92;  cursor:default;  }
        /* 第0步 -- 阅读协议 */
#step-0-content {  font-size:13.3px;  }
#step-0-content>span {  margin:8px 58px; font-size:20px; font-weight:700; color:#CCC;  }
#step-0-content>form {  margin:-18px 28px 28px;  }
#step-0-content>div {  margin:8px 0;  }
#step-0-content>div>.title1 {  text-indent:1.5em; font-size:14.5px; font-weight:600; color:#CCC;  }
#step-0-content>div>.title2 {  margin:0 8px; line-height:30px; font-size:14.5px; font-weight:600; color:#CCC;  }
#step-0-content>div>.step-0-list {  margin-left:22px; text-indent:1.2em;  }
        /* 第1步 -- 填写资料 */
#step-1-content {  display:none; padding-left:38px;  }
#step-1-content>.step-1-title {  margin:8px 0 2px; font-size:24px; font-weight:700;  }
#step-1-content dl {  margin:0 8px 48px;  line-height:2em;  }
#step-1-content dd {  width:120px; margin:auto 18px; text-align:right;  }
#step-1-content .step1-bg {  width:68%; height:25px; padding:8px 18px; font:normal normal normal 15px/1em Arial, 'Microsoft YaHei', '微软雅黑'; color:#00CDFF; letter-spacing:2px;  }
#step-1-content textarea.step1-bg {  height:108px; min-height:68px; resize:vertical; font-size:13px;  }
#getCode {  position:relative; z-index:9; top:51px; left:-28px;  }
input[type='checkbox']+label {  width:143px; height:30px; margin:3px 8px 0 0; padding:3px; font-size:22px; line-height: 30px;  }
input[type='checkbox']+label:after {  top:0; left:-74.5px; width:143px; height:30px; padding:3px;  }
input[type='checkbox']+label > span {  font-size:17px;  }
        /* 第二步 -- 等待审核 */
#step-2-content {  display:none; padding:28px;  }
#step-2-content>p:first-child {  text-indent:2em;  }
        /* 底部控制进度按钮组 */
#step-button-group {  width:100%; height:60px; bottom:12px; position:absolute;  }
#step-button-group i {  font-size:18px;  }
#now-step-title {  margin:8px 28px; text-align:center;  }
#now-step-title>a {  padding:8px 14px; display:inline-block; font:normal bold normal 20px/25px Arial, 'Microsoft YaHei'; text-align:center;  }
#now-step-title>i {  color:#9B9B9B  }
#prevStep {  padding:3px 12px; top:3px; left:1%; position:absolute; font:bold normal normal 18px/28px Arial, 'Microsoft YaHei'; text-align:center;  }
#nextStep {  padding:3px 12px; top:3px; right:1%; position:absolute; font:bold normal normal 18px/28px Arial, 'Microsoft YaHei'; text-align:center;  }

