/*
 * 前端热门歌单 CSS
 */

.popalbum-main {
    width:900px; margin:25px 115px 0 auto; padding-bottom:70px;
}
.popalbum-main>div {
    width:92%; height:100%; padding:40px 0 0 0; margin: auto;
}
#popalbum-kindstContent {
    width:80%; margin:0 auto; padding:15px; position:relative;
}
#songTypeName {
    margin:auto 18px; color:white; font-size:26px;
}
#popalbum-kindstContent > span:last-child {
    top:66px; right:88px; position:absolute; z-index:9;
}
#popalbum-content {
    width:100%; margin:38px 0 -28px;
}
#popalbum-content>div {
    width:138px; height:175px; margin:8px 0 18px 18px; display:inline-block; text-align:center;
}
#popalbum-content>div img {
    width:110px; height:110px; margin:15px auto 2px; border-radius:8px;
}
.popalbum-song, .popalbum-singer {
    width:138px; height:23px;  font:normal normal normal 14px/23px Arial, 'Microsoft YaHei', '微软雅黑'; color:#00CDFF; overflow:hidden;
}
.popalbum-song {
    margin:0 auto;
    text-align:center;
}
.popalbum-singer {
    margin:-3px 8px;
    font-size:12px;
    text-align:left;
}