/*歌曲分类Tab CSS*/
.fl
{
    display:inline;
    float:left
}
.fr
{
    display:inline;
    float:right
}
.cf:after
{
    content:"";
    clear:both;
    display:block;
    height:0;
    overflow:hidden
}
.cf
{
    zoom:1
}



.song-classification
{
    float:left;
    width:780px;
    height:430px;
    margin:20px auto;
    background-image:url(../../images/index/song-classification/bg.jpg);
    background-repeat:no-repeat;
    background-position:right bottom;
    padding:15px;
    box-shadow:0 0 10px #2dfbf9;
}
.song-classification .song-classification-title /*长横线*/
{
    height:44px;
    border-bottom: 3px solid #a896ff;
    padding-bottom:10px;
}
.song-classification .song-classification-title span
{
    float:left;
    margin-top:-3px;
    color:rgb(81,220,255);
}
.song-classification .song-classification-title h3
{
    margin-top:0px;
    margin-left:15px;
    color:rgb(118,112,175);
}
.song-classification .title-list    /*鼠标选中的横线和文字高度*/
{
    position: relative;
    top:30px;
}
.song-classification .title-list li     /*文字所占长度*/
{
    color: #1c77cc;
    font-weight:700;
    width: 80px;
    line-height: 20px;
    text-align: center;
    float: left;
    display: inline;
}
.song-classification .title-list li.on
{
    color:#2ae3e1;
    font-weight:bold;
}
.song-classification .title-list p     /*鼠标选中的横线和文字长度*/
{
    position:absolute;
    top:24px;
    left:0px;
    width:80px;
    height:7px;
    border-top:3px solid #2ae3e1;
    overflow: hidden;
    text-align: center;
}
.song-classification .title-list b  /*鼠标选中的小尖尖*/
{
    display:inline-block;
    width:0;
    height:0;
    margin-top:-3px;
    border-style:solid dashed dashed dashed;
    border-width:9px;
    border-color: #2ae3e1 #2e2e2e #2e2e2e #2e2e2e;
    overflow: hidden;
    zoom:1;
    font-size: 0;
}
.product        /*   ！！！！！ 控制整个高度*/
{
    height: 400px;
    position: relative;
    overflow: hidden;
    display: none;
}
.product ul
{
    position: absolute;
    left: 0px;
}
.product-wrap .show
{
    display: block;
}
.product-wrap .product li   /*控制每一个img位置*/
{
    float: left;
    display: inline;
    margin-left:90px;
    margin-top:50px;
    background: #8fffbf;
    transition:0.4s;
    -webkit-transition:0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    box-shadow: 0 0 20px white;
}
.product-wrap .product li.ml0
{
    margin-left:50px;
}
.product-wrap .product li a.imgwrap   /*控制每一个img大小*/
{
    display: block;
    width: 100px;
    height: 100px;
    text-align:center;
}
.product-wrap .product li p     /*控制文字块*/
{
    margin-top:2px;
    padding-left: 15px;
    color: #a896ff;
    line-height:15px;
}
.product-wrap .product li p a
{
    color:#a896ff;
    text-decoration:none;
}
.product-wrap .product li p a:hover
{
    color:#1f6af6;
    text-decoration:none;
}
