/**
 * 后台公共 CSS
 */

#htmlBody {
    min-width:1080px;
    position:relative;
}


#navTitle {
    width:80%; height:58px; margin:46px auto 28px; line-height:58px; position:relative; font-family:"Microsoft YaHei", "黑体", sans-serif;
}
#navTitle > h4 {
    text-align:center; font-size:28px; color:#FFF;
}
#navTitle > h4 > a {
    margin:18px; color:#33CDFF;
}
#navTitle > h4 > a:hover {
    color:#2F99FF;
    text-shadow:0.3px 0.3px 0.2px #5CEBDC;
}
#navTitle > h4 > a.active {
    color:#BBB;
    text-shadow:none;
    cursor: not-allowed;
}

#mainBody {
    width:96%; margin:0 auto 28px;
}


    /* 输入框字体样式 */
input[type="text"], input[type="password"] {
    padding:5px 12px; display:inline-block; background:#666; font-size:20px; line-height:28px; color:#00CDFF; font-family:'Microsoft YaHei', '黑体', sans-serif; text-shadow:1px 0.5px 0.5px #000;
}
input[type="text"]:focus, input[type="password"]:focus {
    background:#888;
}

    /* 回到主页按钮 */
#comeBackHomeNav {
	width:58px; height:58px; top:-28px; left:10px; display:inline-block; position:absolute; opacity:0.8;
}
#comeBackHomeNav > a {
	width:100%; height:100%; display:inline-block; font-size:35px; line-height:58px;
    color: #22e8ff;
}
#comeBackHomeNav:hover {
    opacity:1;
    background-color:#222;
    -moz-box-shadow: inset 0 2px 1px -1px rgba(255, 255, 255, 0.2), inset 0 -2px 1px -1px rgba(0, 0, 0, 0.2), 2px 8px 12px rgba(0, 0, 0, 0.5), 2px 4px 6px rgba(0, 0, 0, 0.3), inset 0 0 0 1.8px #272727;
    -webkit-box-shadow: inset 0 2px 1px -1px rgba(255, 255, 255, 0.2), inset 0 -2px 1px -1px rgba(0, 0, 0, 0.2), 2px 8px 12px rgba(0, 0, 0, 0.5), 2px 4px 6px rgba(0, 0, 0, 0.3), inset 0 0 0 1.8px #272727;
    box-shadow: inset 0 2px 1px -1px rgba(255, 255, 255, 0.2), inset 0 -2px 1px -1px rgba(0, 0, 0, 0.2), 2px 8px 12px rgba(0, 0, 0, 0.5), 2px 4px 6px rgba(0, 0, 0, 0.3), inset 0 0 0 1.8px #272727;
}
