/**
 * 后端主页 home CSS
 */

body {  width:100%; height:100%; margin:0; padding:0; position:relative; background:#333; overflow:hidden;  }

/* 顶部 */
nav {  width:100%; height:72px; margin:0; box-sizing:border-box; position:relative; z-index:99; line-height:68px;  }
#navLogo {  width:208px; height:80%; margin:6px 28px; display:inline-block;  }
#navLogo > img {  width:100%; height:100%;  }
nav > .accountMenuSwitch {  top:5px; right:208px; position:absolute; z-index:9;  }
nav > .accountMenuSwitch img {  width:40px; height:36.5px; top:2px; left:1px; position:absolute;  }
#navBaseOper {  width:168px; height:43px; top:15px; right:28px; position:absolute; z-index:9; color:#888; line-height:1.35em;  }
#navBaseOper > .accountMenuSwitch {  width:100%; font-size:15px; color:#30cdff; text-shadow:0.5px 0.5px 1px #67f2ff; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; cursor:pointer;  }
.accountLogout {  margin-left:18px; font-size:14px; color:#999; text-shadow:1px 1px 2px;  }
.accountLogout:hover {  color:#EEE;  }


/* 主体部分 */
#accountMainBody {  width:100%; position:relative;  }
/*左侧主菜单 & 右侧账户操作菜单 及其对应开关*/
#mainMenu {  width:238px; height:102%; top:-1%; left:0; margin:0; padding:0; position:absolute;  }
#mainMenuSwitch, a.accountMenuSwitch {  width:38px; height:33px; top:50%; margin-top:-38px; display:inline-block; position:absolute; line-height:34px; z-index:50; opacity:0.8; transform:scale(1,2); -ms-transform:scale(1,2); -webkit-transform:scale(1,2); -moz-transform:scale(1,2); -o-transform:scale(1,2);  }
#mainMenuSwitch:hover > .MyIF, a.accountMenuSwitch:hover > .MyIF {  color:#42d4ff; text-shadow:0 0 1px; opacity:1;  }
#mainMenuContent {  width:95%; height:90%; padding:0 5px 12px; position:absolute;  }
/*左侧主菜单一级菜单*/
.firstMenu {  width:96%; height:42px; margin:3px 0; position:relative;  }
.firstMenuSwitch {  width:100%; height:42px; top:0; left:0; position:absolute; z-index:5; cursor:pointer;  }
.firstMenuSwitch.active {  background:#000;  }
.firstMenuSwitch > span {  width:61%; margin-left:44px; padding:0; display:inline-block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; line-height:42px; font-weight:600; opacity:0.68;  }
.firstMenuSwitch.active > span {  text-shadow:1px 1px 3px #22E8FF; opacity:0.8;  }
.firstMenuSwitch > i.MyIF {  top:-5px; left:8px; font-size:28px; position:absolute;  }
.firstMenuSwitch > p {  width:24px; height:24px; margin:8.5px 8.5px 8.5px 0; float:right; border: 0.5px solid transparent; text-align:center; line-height:23px;  }
.firstMenuSwitch > p:hover {  background: #111; border: 0.5px solid #000; border-radius:2px; box-shadow: inset 0 0 0 1px #272727; color:#42d4ff; text-shadow:0 0 1px; opacity:1;  }
/*左侧主菜单二级菜单*/
.secondMenu {  width:88%; height:30px; top:0; left:50%; padding:2px 4px; position:absolute; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; transform:translate(-50%,0); z-index:2; color:#888; font-size:13.5px; font-weight:500; line-height:30px; cursor:pointer;  }
.secondMenu:hover {  color:lightgreen;  }
.secondMenu.active {  color:#DDD; background:#000; text-shadow:1px 1px 4px #888; animation:secondMenuActiveMove 0.6s forwards; -webkit-animation:secondMenuActiveMove 0.6s forwards;  }
.secondMenu > .MyIF {  padding:0 8px; border-left:3px solid transparent;  }
.secondMenu.active > .MyIF {  color:lightgreen; border-color:#22E8FF;  }
/*菜单 CSS3 动画及少量美化*/
#mainMenuSwitch > .MyIF, a.accountMenuSwitch > .MyIF { font-size:24px; animation:menuSwitch 0.8s forwards; -webkit-animation:menuSwitch 0.8s forwards; /* Safari 和 Chrome */ }
#mainMenuSwitch > .MyIF.active, a.accountMenuSwitch > .MyIF.active { animation:menuSwitchActive 0.8s forwards; -webkit-animation:menuSwitchActive 0.8s forwards; /* Safari 和 Chrome */ }
.firstMenuSwitch a.MyIF, #timeSwitch .MyIF { display:inline-block; opacity:0.6; animation:menuSwitch 0.6s forwards; -webkit-animation:menuSwitch 0.6s forwards; }
.firstMenuSwitch a.MyIF:hover, #timeSwitch .MyIF:hover { color:#42d4ff; text-shadow:0 0 1px; opacity:1; }
.firstMenuSwitch.active a.MyIF, #timeSwitch .MyIF.active { animation:menuSwitchActive 0.6s forwards; -webkit-animation:menuSwitchActive 0.6s forwards; }
/*各种操作页面的iframe*/
#accountOperIframe {  margin:8px 30px 0 0; padding:3px 0; float:right; background:#181818;  }


/* 后台用户操作菜单内容 */
#accountMenu {  width:268px; top:68px; right:-247px; position:absolute; z-index:55;  }
#accountMenu > ul {  margin:28px auto;  }
#accountMenu > ul > li {  width:83%; height:38px; margin:10px auto; color:#AAA; font-size:18px; font-weight:600; line-height:38px; text-align:center; cursor:pointer;  }
#accountMenu > ul > li:hover {  color:#EEE; background:#1F1F1F; text-shadow:1px 1px 2px #666;  }
#accountMenu > ul > li > .MyIF {  margin-right:8px;  }
#accountMenu > .accountLogout {  right:38px; bottom:18px; position:absolute; font-size:18px;  }


/* 悬浮显示时间和刷新页面按钮 */
#floatTimeRefresh {  width:148px; height:36px; top:2px; right:25px; display:inline-block; position:absolute; line-height:36px;  }
#refreshIframe.enable {  width:110px; height:36px; position:relative; z-index:9; font-weight:600; color:#BBB;  }
#refreshIframe {  color:#555; cursor: not-allowed;  }
#refreshIframe.enable:hover {  color:#EEE; text-shadow:0 0 1px #888; cursor:pointer;  }
#timeSwitch {  width:26px; height:26px; top:4px; right:4px; line-height:26px; text-align:center; position:absolute;  }
#showNowTime {  width:100%; height:30px; bottom:2px; position:absolute; display:none; line-height: 1em;  }
#showNowTime > img {  width:25px; height:30px; margin:-2px 8px;  }
#showNowTime > div {  margin:-2px 8px 0 0; float:right; font-size:13px; font-weight:600; color:#CCC;  }


/* 后台页面底部 */
footer {  width:100%; height:28px; bottom:0; margin:0; padding:0 38px; box-sizing:border-box; position:fixed; z-index:99; font-size:15px; color:#30CDFF; text-shadow:1px 1px 1px; line-height:28px; text-align:right;  }


/* 后台二级菜单专属动画 */
@keyframes secondMenuActiveMove {
    to { transform: translate(-46%, 0); -ms-transform: translate(-46%, 0); -moz-transform: translate(-46%, 0); -o-transform: translate(-46%, 0); }
}
@-webkit-keyframes secondMenuActiveMove {
    to { -webkit-transform: translate(-46%, 0); }
}


