
    <base target="_blank"/>

    <!-- 自用字体图标 -->
    <link rel="stylesheet" type="text/css" href="../plugins/myfonticon/iconfont.css">

    <!--BootStrap框架 CSS-->
    <link rel="stylesheet" type="text/css" href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">

    <style type="text/css">
        body
        {
            background-color:#2E2E2E;
        }
        ul, li
        {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        a, a:hover, a:visited
        {
            text-decoration:none;
        }
        .MyIF
        {
            color:#42d4ff;
        }

        /* 控制渐变效果 */
        .end-boder
        {
            font-weight: 900;
            background-image: -webkit-linear-gradient(left, #2ed8ff, #9b7cf7 25%, #2ed8ff 50%, #9b7cf7 75%, #2ed8ff);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-background-size: 200% 100%;
            -webkit-animation: masked-animation 3s infinite linear;
        }
        @-webkit-keyframes masked-animation
        {
            0%  { background-position: 0 0;}
            100% { background-position: -100% 0;}
        }

        #wrapper
        {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: left;
            -webkit-justify-content: left;
            -ms-flex-pack: left;
            justify-content: left;
        }
        #left-side
        {
            height:70%;
            width:13%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        #left-side ul li
        {
            width:120px;
            margin-left: -60px;
            padding: 10px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            line-height: 34px;
            color:#a072ee;
            cursor: pointer;
            -webkit-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }
        #left-side ul li:hover
        {
            color:#4b97ff;
            -webkit-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }
        #left-side ul li.active {
            color:#4b97ff;
            background:url(../框bg.jpg) no-repeat;
            background-size: 100% 100%;
            -webkit-box-shadow:0 0 2px 2px #60e099;
            -moz-box-shadow:0 0 2px 2px #60e099;
            box-shadow:0 0 2px 2px #60e099;
            -webkit-transition: all .4s ease-out;
            transition: all .4s ease-out;
        }

        #right-side {
            height:365px;
            width: 90%;
            margin:14px 5px 5px 0;
            overflow: hidden;
            background:url(../热门分类bg.jpg) no-repeat right bottom;
            background-color: #101010;
            -webkit-box-shadow:0 0 2px 2px #49DFFF;
            -moz-box-shadow:0 0 2px 2px #49DFFF;
            box-shadow:0 0 2px 2px #49DFFF;
        }
        #right-side #first, #right-side #second
        {
            position: absolute;
            -webkit-transition: all .6s ease-in-out;
            transition: all .6s ease-in-out;
            margin-top: -350px;
            opacity: 0;

        }
        #right-side #first.active, #right-side #second.active
        {
            margin-top: 0px;
            opacity: 1;
            -webkit-transition: all .6s ease-in-out;
            transition: all .6s ease-in-out;
        }
    </style>


    <div style=" position:absolute; width:785px;">


        <div>
            <a id="" href="test.html">
                <span class="MyIF hot" style="float:left; margin:-15px 5px 0 5px; font-size:40px;"></span>
                <h3 class="end-boder" style=" margin:5px 0 0 0; display:inline;">热门推荐</h3>
            </a>
            <a href="http://www.baidu.com" style="float: right; margin:0 20px 0 0; color:#000000">
                <button>
                    <span class="MyIF cubes-1"></span>百度
                </button>
            </a>
            <hr style="margin:2px 0 0 0; border:3px solid #60e099;"/>
        </div>

        <div id="wrapper">
            <div id="left-side">
                <ul>
                    <li class="choose active">
                        <span class="MyIF cubes-3" style="font-size:35px;"></span>&nbsp;热门推荐
                    </li>
                    <li class="pay">
                        <span class="MyIF cubes-4" style="font-size:35px;"></span>&nbsp;歌曲分类
                    </li>
                </ul>
            </div>
            <div id="right-side">
                <div id="first" class="active">
                    <div style="width:120px; height:120px; background-color: #01e6ff; margin:5px; float: left; border-radius:8px; "></div>
                    <div style="width:120px; height:120px; background-color: #01e6ff; margin:5px; float: left; border-radius:8px; "></div>
                    <div style="width:120px; height:120px; background-color: #01e6ff; margin:5px; float: left; border-radius:8px; "></div>
                    <div style="width:120px; height:120px; background-color: #01e6ff; margin:5px; float: left; border-radius:8px; "></div>
                    <div style="width:120px; height:120px; background-color: #01e6ff; margin:5px; float: left; border-radius:8px; "></div>
                    <div style="width:120px; height:120px; background-color: #01e6ff; margin:5px; float: left; border-radius:8px; "></div>
                    <div style="width:120px; height:120px; background-color: #01e6ff; margin:5px; float: left; border-radius:8px; "></div>
                </div>
                <div id="second">
                    <div style="width:120px; height:120px; background-color: #01e6ff; margin:5px; float: left; border-radius:8px; "></div>
                    <div style="width:120px; height:120px; background-color: #01e6ff; margin:5px; float: left; border-radius:8px; "></div>
                    <div style="width:120px; height:120px; background-color: #01e6ff; margin:5px; float: left; border-radius:8px; "></div>
                    <div style="width:120px; height:120px; background-color: #01e6ff; margin:5px; float: left; border-radius:8px; "></div>
                    <div style="width:120px; height:120px; background-color: #01e6ff; margin:5px; float: left; border-radius:8px; "></div>
                    <div style="width:120px; height:120px; background-color: #01e6ff; margin:5px; float: left; border-radius:8px; "></div>
                    <div style="width:120px; height:120px; background-color: #01e6ff; margin:5px; float: left; border-radius:8px; "></div>
                </div>
            </div>

        </div>
    </div>


    <!--jQuery框架-->
    <script src="../js/jquery-3.1.1.min.js" type="text/javascript"></script>

    <script>
        $('.choose').click(function () {
            $('.choose').addClass('active');
            $('.pay').removeClass('active');
        });
        $('.pay').click(function () {
            $('.pay').addClass('active');
            $('.choose').removeClass('active');
        });

        $('.choose').click(function () {
            $('#first').addClass('active');
            $('#second').removeClass('active');
        });
        $('.pay').click(function () {
            $('#first').removeClass('active');
            $('#second').addClass('active');
        });
    </script>