/*
 * 拟态框 CSS
 */

.md-container {  position:fixed; top:50%; left:50%; width:666px;  z-index:999999999999999999999; visibility:hidden; -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; backface-visibility:hidden; -webkit-transform:translateX(-50%) translateY(-50%); -moz-transform:translateX(-50%) translateY(-50%); -ms-transform:translateX(-50%) translateY(-50%); transform:translateX(-50%) translateY(-50%); }
.md-show {  visibility:visible;  }
.md-overlay {  position:fixed; width:100%; height:100%; visibility:hidden; top:0; left:0; z-index:999; opacity:0; background:rgba(0,0,0,0.8); -webkit-transition:all 0.3s; -moz-transition:all 0.3s; transition:all 0.3s;  }
.md-show ~ .md-overlay {  opacity:1; visibility:visible;  }
.md-content {  margin:0 auto; padding:12px; color:#fff; background:#252525; position:relative; border-radius:8px; border:0.2px solid #00CDFF; box-shadow:0 0.5em 1em rgba(0, 0, 0, 0.6), 0 0 0.3em #00CDFF, inset 0 2px 1px -1px rgba(255, 255, 255, 0.2), inset 0 -2px 1px -1px rgba(0, 0, 0, 0.2);  }
.md-content>h3 {  margin:8px auto 0; padding:8px 0.1em; width:88%; text-align:center; font-size:1.8em; font-weight:600; opacity:0.8;  }
.md-content>h3>img {  width:35px; margin:0 8px -7px 0;  }
.md-content>div{  padding:20px 0 0 38px;  }
.md-content>div button {  width:100px; height:32px; margin-right:25px; border:none; box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.6); color:#5A5A5A; line-height:35px; font-weight:600; font-family:'宋体';  }
.close-all {  width:26px; height:25px; top:0; right:0; color:#AEAEAE; font-weight:bold; line-height:25px; position:absolute; border-radius:2px; background-size:100%; background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2e3537), color-stop(100%, #424748)); background-image:-moz-linear-gradient(#2e3537, #424748); background-image:-webkit-linear-gradient(#2e3537, #424748); background-image:linear-gradient(#2e3537, #424748); -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.5), 0 2px 2px rgba(0, 0, 0, 0.4); -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.5), 0 2px 2px rgba(0, 0, 0, 0.4); box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.5), 0 2px 2px rgba(0, 0, 0, 0.4);  }
.close-all:after {  width:37px; height:36px; top:-5.5px; left:-18.5px; margin-left:50%; content:''; display:block; border-radius:3px; background-size:100%; background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2af1fc), color-stop(100%, #17b2e6)); background-image:-moz-linear-gradient(#2af1fc, #17b2e6); background-image:-webkit-linear-gradient(#2af1fc, #17b2e6); background-image:linear-gradient(#2af1fc, #17b2e6); -moz-box-shadow:0 -1px 1px rgba(0, 0, 0, 0.7), 0 1px 1px rgba(255, 255, 255, 0.4), 0 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 0 3px rgba(0, 0, 0, 0.4), inset 0 1px 2px rgba(0, 0, 0, 0.6); -webkit-box-shadow:0 -1px 1px rgba(0, 0, 0, 0.7), 0 1px 1px rgba(255, 255, 255, 0.4), 0 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 0 3px rgba(0, 0, 0, 0.4), inset 0 1px 2px rgba(0, 0, 0, 0.6); box-shadow:0 -1px 1px rgba(0, 0, 0, 0.7), 0 1px 1px rgba(255, 255, 255, 0.4), 0 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 0 3px rgba(0, 0, 0, 0.4), inset 0 1px 2px rgba(0, 0, 0, 0.6); position:absolute; z-index:-1;  }
.close-all:hover {  color:#70ff92; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.8); background-size:100%; background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #545454), color-stop(100%, #373738)); background-image:-moz-linear-gradient(#545454, #373738); background-image:-webkit-linear-gradient(#545454, #373738); background-image:linear-gradient(#545454, #373738);  }
.close-all:hover:after {  -moz-box-shadow:0 -1px 1px rgba(0, 0, 0, 0.7), 0 1px 1px rgba(255, 255, 255, 0.4), 0 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 0px 3px rgba(0, 0, 0, 0.4), inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 0 15px 5px rgba(0, 255, 255, 0.2); -webkit-box-shadow:0 -1px 1px rgba(0, 0, 0, 0.7), 0 1px 1px rgba(255, 255, 255, 0.4), 0 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 0 3px rgba(0, 0, 0, 0.4), inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 0 15px 5px rgba(0, 255, 255, 0.2); box-shadow:0 -1px 1px rgba(0, 0, 0, 0.7), 0 1px 1px rgba(255, 255, 255, 0.4), 0 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 0 3px rgba(0, 0, 0, 0.4), inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 0 15px 5px rgba(0, 255, 255, 0.2);  }
.close-all:active {  color:#00ccff; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 255, 255, 0.7); background:#333; -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.4), inset 0 3px 3px rgba(0, 0, 0, 0.7), inset 0 0 4px rgba(0, 0, 0, 0.9), 0 0 0 black; -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.4), inset 0 3px 3px rgba(0, 0, 0, 0.7), inset 0 0 4px rgba(0, 0, 0, 0.9), 0 0 0 black; box-shadow:0 1px 0 rgba(255, 255, 255, 0.4), inset 0 3px 3px rgba(0, 0, 0, 0.7), inset 0 0 4px rgba(0, 0, 0, 0.9), 0 0 0 black;  }


/*显示与取消拟态框效果*/
.md-effect-1 .md-content {  -webkit-transform:scale(0.7);  -moz-transform:scale(0.7);  -ms-transform:scale(0.7);  transform:scale(0.7);  opacity:0;  -webkit-transition:all 0.3s;  -moz-transition:all 0.3s;  transition:all 0.3s;  }
.md-show.md-effect-1 .md-content {  -webkit-transform:scale(1);  -moz-transform:scale(1);  -ms-transform:scale(1);  transform:scale(1);  opacity: 1;  }


    /*各种modal*/
        /* 用户登录 & 用户注册 */
#modal-userLogin form {  width:70%; height:215px; border-right:2px solid; float:left; border-image: -webkit-linear-gradient(#25b8dd, #a051ff, #25b8dd) 2; border-image: -moz-linear-gradient(#25b8dd, #a051ff, #25b8dd) 2; border-image: linear-gradient(#25b8dd, #a051ff, #25b8dd) 2;  }
#modal-register form {  width:70%; height:273px; margin:28px 108px 12px;  }
#modal-userLogin table, #modal-register table {  width:100%; margin:8px 0 35px -18px;  }
#modal-userLogin tr>td, #modal-register tr>td {  padding-bottom:10px; text-align:left;  }
#modal-userLogin tr>td>.MyIF, #modal-register tr>td>.MyIF {  margin:0 18px; color:#3168ff; font-size:28px;  }
#modal-userLogin>.md-content>div {  height:225px;  }
#modal-userLogin input[type="text"], #modal-userLogin input[type="password"], #modal-register input[type="text"], #modal-register input[type="password"] {  width:250px; height:25px; padding:5px 8px; font-size:15px; font-weight:600; letter-spacing:1.2px; color:#30CDFF;  }
#modal-userLogin table span, #modal-register table span {  top:68px; position:relative; z-index:9; box-sizing:border-box;  }
#modal-userLogin table span>a, #modal-register table span>a {  margin-right:68px;  }
#modal-userLogin form>p, #modal-register form>p {  float:right; margin:0 18px; font-size:14px;  }
#modal-userLogin form>p>a, #modal-register form>p>a {  margin:0 12px; color:#FFF;  }
#ortherLogin {  top:50px; left:-18px; position:relative; z-index:9;  }
#ortherLogin>a {  margin:18px 0;  }
        /* 上传图片 */
#modal-uploadAvatar #uploadAvatarContainer {  width:400px; margin:18px 8px 8px; position:relative; font-family:微软雅黑; font-size:12px;  }
#modal-uploadAvatar #uploadAvatarContainer p {  line-height:18px; height:0; margin:10px; font-size:18px; font-weight:700; color:#555;  }
#modal-uploadAvatar .action {  width:350px; height:30px; margin:10px 0;  }
#modal-uploadAvatar .cropped {  position:absolute; right:-200px; top:60px; width:200px; height:200px; text-align:center;  }
#modal-uploadAvatar .imageBox {  position:relative; height:350px; width:350px; margin-left:12px; background:#fff; overflow:hidden; background-repeat:no-repeat; cursor:move; box-shadow:4px 4px 12px #B0B0B0;  }
#modal-uploadAvatar .imageBox .thumbBox {  position:absolute; top:50%; left:50%; width:200px; height:200px; margin-top:-100px; margin-left:-100px; box-sizing:border-box; box-shadow:0 0 0 1000px rgba(0, 0, 0, 0.5); background:none repeat scroll 0 0 transparent;  }
#modal-uploadAvatar .imageBox .spinner {  position:absolute; top:0; left:0; bottom:0; right:0; text-align:center; line-height:400px; background:rgba(0, 0, 0, 0.7);  }
#modal-uploadAvatar .Btnsty_peyton {  float:right; width:50px; display:inline-block; height:35px; line-height:35px; font-size:16px; margin:0 2px; text-decoration:none; cursor:pointer; color:#00CDFF; text-align:center; border:none; border-radius:5px;  }
#modal-uploadAvatar .new-contentarea {  width:165px; overflow:hidden; margin:0 auto; position:relative; float:left;  }
#modal-uploadAvatar .new-contentarea label {  width:100%; height:100%; display:block;  }
#modal-uploadAvatar .new-contentarea input[type=file] {  width:188px; height:60px; background:#333; margin:0 auto; position:absolute; right:50%; margin-right:-94px; top:0; opacity:0; filter:alpha(opacity=0); z-index:2;  }
#modal-uploadAvatar a.upload-img {  width:120px; display:inline-block; margin-bottom:10px; height:35px; line-height:35px; font-size:17px; color:#00CDFF; letter-spacing:3px; border:none; border-radius:5px; text-decoration:none; cursor:pointer;  }
#modal-uploadAvatar a.upload-img:hover {  background-color:#ec7e70;  }
#modal-uploadAvatar .tc {  text-align:center;  }
        /* 新建歌单 */
#modal-newAlbum form {  width:100%; height:200px;  }
#modal-newAlbum table {  width:100%; height:100%;  }
#modal-newAlbum table tr:first-child {  height:108px;  }
#modal-newAlbum form input {  width:250px; height:25px; padding:5px 8px; font-size:15px; font-weight:600; letter-spacing:1.2px; color:#30CDFF;  }
#modal-newAlbum a.superBtn {  margin:73px 28px 0; position:relative;  }
        /* 收藏歌曲 */
#modal-collection {  width:760px;  }
#modal-collection>.md-content {  height:380px; position:relative;  }
#modal-collection>.md-content>span {  top:142px; right:168px; position:absolute; z-index:9;  }
#collectionContent {  height:238px; margin-top:28px; padding:0 0 0 25px;  }
#collectionContent a {  width:168px; height:28px; margin:2px 0 15px 28px; padding: 6.5px 7px; display:inline-block;  }
#collectionContent a>img {  width:28px; height:28px; border:none; border-radius:3px;  }
#collectionContent a>span {  width:128px; height:28px; margin-left:5px; overflow:hidden; display:inline-block; font:normal normal normal 13px/28px Arial, 'Microsoft YaHei', '微软雅黑'; color:#00CDFF; text-align:center;  }
        /* 操作提示 */
#modal-warning>.md-content {  height:188px;  }
#warning-text {  margin:22px 0 0 38px; font-size:18px; font-weight:700; word-spacing:1.3px;  }
#modal-warning span {  top:38px; left:208px; position:relative; z-index:9;  }
#modal-warning span>a {  top:0; margin-right:68px; display:inline-block;  }
        /* 问卷调查 */
#modal-questionnaire form {  height:400px; margin:18px 38px; text-align:center;  }
#modal-questionnaire>div>span {  top:38px; left:66%; position:relative; z-index:9;  }
#modal-questionnaire form>p {  margin:18px auto 3px; text-align:left;  }
#modal-questionnaire form>table {  margin-left:28px;  }
#modal-questionnaire table td {  padding:0 8px 8px;  }
#modal-questionnaire form>textarea {  width:75%; height:58px; margin:0 0 0 -30px; resize:none; font:normal normal normal 14px/1em Arial, 'Microsoft YaHei', '微软雅黑'; color:#00CDFF; letter-spacing:3px; padding:8px 10px;  }
#modal-questionnaire form>input[type="text"] {  width:72%; margin:0 0 0 -30px; padding:8px 18px; font:normal normal normal 14px/1em Arial, 'Microsoft YaHei', '微软雅黑'; color:#00CDFF; letter-spacing:3px;  }
        /* 入驻歌手 */
#modal-joinSinger form {  width:80%; margin:18px auto; border:none; text-align:center;  }
#modal-joinSinger .webdesigntuts-workshop {  margin-right:60px;  }
#modal-joinSinger .webdesigntuts-workshop>input {  width:350px;  }
#modal-joinSinger #singerAvatar {  width:80px; height:80px; margin:20px 0 18px -20px; border-radius:5px;  }
#modal-joinSinger form>span {  position:relative; z-index:9;  }
#modal-joinSinger form>p {  margin-bottom:8px; text-align:center;  }
        /* 歌手登陆 */
#modal-singerLogin {  width:688px;  }
#modal-singerLogin>.md-content>img {  width:80px; height:80px; margin:38px; position:absolute; border-radius:5px;  }
#modal-singerLogin form {  width:88%; height:88px; margin:28px 18px 68px 158px;  }
#modal-singerLogin form>ul {  margin:12px 0; text-align:left;  }
#modal-singerLogin form>ul>li {  margin:12px 0; position:relative;  }
#modal-singerLogin form>ul>li>img {  width:308px; height:68px; border:none; background:lightblue; box-sizing:border-box;  }
#modal-singerLogin form>ul>li>span {  left:280px; top:68px; position:absolute; z-index:9;  }
#modal-singerLogin input[type="text"] {  width:56%; padding:3px 8px; font-size:25px; font-weight:600; color:#00CDFF; letter-spacing:1.5pt; line-height:1.2em; text-align:center;  }
#modal-singerLogin > .md-content > p {  margin:8px 108px; text-align:left; line-height:3em;  }
#modal-singerLogin > .md-content > span {  bottom:-22px; right:128px; position:absolute; z-index:9;  }
        /* 选择歌单风格 */
#modal-category {  width:920px;  }
#modal-category>.md-content>div {  padding-right:36px;  }
#allStyleButton {  width:100%; height:48px; position:relative; z-index:5;  }
#allStyleButton>span {  font-size:22px; font-weight:900;  }
#allStyleButton>a {  top:0; margin:8px 188px 0 0; float:right;  }
#styleList {  width:100%; margin:18px 0 32px; color:#1A9EE6; font-weight:900;  }
#styleList tr td:first-child {  width:14%; border-right:2px solid #1A9EE6; text-align:center; color:#7A77E6; font-size:20px; font-weight:900;  }
#styleList tr td:first-child > i {  color:#1A9EE6; font-size:25px;  }
#styleList tr td {  padding:8px 18px; line-height:1.5em; border-top:2px solid #1A9EE6; border-bottom:2px solid #1A9EE6;  }
#styleList tr span {  display:inline-block;  }
#styleList tr span > a {  margin-right:10px; color:#FFF; font-size:17px; font-weight:500; line-height:1.6em; text-shadow:0.1px 0.1px 1px #666;  }
#styleList tr span > a.active {  color:#00FFB6; text-shadow:0 0 0.5px #5CEBDC; text-decoration:underline;  }
        /* 选择歌单风格标签 */
#modal-selectStyleTag {  width:868px;  }
#modal-selectStyleTag > .md-content > span {  margin:0 0 0 38px; line-height:3em; font-size:18px;  }
#modal-selectStyleTag > .md-content > #styleTagListTips {  margin:0; line-height:3em; font-size:17px;  }
#styleTagList {  width:90%; height:308px; margin:0 auto 8px; padding:0; box-sizing:border-box;  }
#styleTagList td:first-child {  width:108px; text-align:center; font-size:22px; font-weight:700; color:#00FFB6;  }
#styleTagList td:first-child > i.MyIF {  color:#29B8E6; font-size:28px;  }
#styleTagList label {  margin:3px 8px 8px;  }
#modal-selectStyleTag #buttonGroup {  width:93%; height:42px; text-align:center;  }
#modal-selectStyleTag #buttonGroup > a {  margin:48px 128px 0 0;  }



